<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Mata Monstros</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">
        <!-- Barra de Lifes -->
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
                </div>
                <div>{{ playerLife }}%</div>
            </div>
            <div class="score">
                <h1>Monster</h1>
                <div class="life-bar">
                    <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
                </div>
                <div>{{ monsterLife }}%</div>
            </div>
        </div>
        <!-- Painel de Vitória ou Derrota -->
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">Parabéns, você venceu a batalha!</div>
            <div v-else class="lose">K.O! Tente outra vez</div>
        </div>

        <!-- Botões de Ações -->
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack"
                @click="attack(false)">Atacar</button>
                <button class="btn special-attack"
                @click="attack(true)">Ataque Especial</button>
                <button class="btn heal" @click="healAndHurt">Curar</button>
                <button @click="running = false" class="btn give-up">Desistir</button>
            </template>
            <template v-else>
                <button @click="startGame" class="btn new-game">Iniciar Jogo</button>
            </template>
        </div>
        <div v-if="logs.length"
            class="panel logs">
            <ul>
                <li v-for="log in logs"
                    :class="log.cls"
                    class="log">{{ log.text }}</li>
            </ul>
        </div>

    </div>
    <script src="app.js"></script>
</body>

</html>